.baner {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    
    background-color: #EEEEEE;

    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    opacity: 100;
    animation: fadeScale 0.8s ease forwards;
    transition: transform 0.3s ease;
}
.video_block {
    position: relative;
    overflow: hidden;
}
.video_block,
.video_block iframe,
.video_block video,
.vodeo-iframe {
    width: 415px;
    height: 300px;
    border-radius: 0px !important;
    overflow: hidden;
}

.video_block iframe {
    border: 0;
    display: block;
    transform: scale(1.03);
    transform-origin: center;
    pointer-events: none;
}

.baner_text {
    margin: 72px 76px 55px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 519px;
}

.baner_text-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.baner_text-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 86px;
}

.baner_text-grey {
    font-size: 18px;
    font-weight: 400;
    line-height: 110%;
    color: #0B0B0B;

}

.baner_text-description {
    font-size: 14px;
    font-weight: 700;
    color: #0B0B0B;
    letter-spacing: 0.05em;
    line-height: 110%;
    text-transform: uppercase;
}

@media (max-width: 768px) {

    .baner {
        flex-direction: column;
        max-width: 390px;
        margin: auto;
        margin-bottom: 30px;
    }

    .baner_text {
        margin: 72px 76px 55px 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 519px;
    }

    .video_block,
    .video_block iframe,
    .video_block video,
    .vodeo-iframe {
        width: 390px;
        margin-top: -10px;
    }

    .baner_text {
        margin: 10px 20px 30px 20px;
    }

    .baner_text-title {
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 700;
    }
    
    .baner_text-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }
    
    .baner_text-grey {
        font-size: 14px;
        font-weight: 400;
        line-height: 110%;
        color: #0B0B0B;
    }
    
    .baner_text-description {
        font-size: 12px;
        font-weight: 900;
        color: #0B0B0B;
        text-transform: uppercase;
    }

}

@keyframes fadeScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}